.gj-alert {
  width: 100%;
  box-shadow: 1px 1px 12px rgba($gray, 0.4);
  border-radius: 0px;
  font-family: "Lato";
  padding: 1rem;
  margin: 1rem 0;
  color: lighten($gray, 10%);
  background-color: #eeecec;
  box-sizing: border-box;

  h3 {
  	font-weight: 700;
    margin: 0;
  }
  
  .alert-body, .alert-header {
    padding: 15px;
    width: 100%;
  }
  
  .alert-body {
    background-color: white;
  }
  
  .alert-header {
    background-color: $gray;
    h2 {
      color: $white;
      font-weight: 700;
      text-align: center;
    }
  }
}