.btn {

  &.dashboard {
    width: 100%;
    display: block;
    padding: 1rem;
    color: #FFF;
    background-color: $gray;
    text-align: left;
  }

  &.bookAppointment {
    padding: 2rem;
    font-size: 2rem;
    border-radius: 0px;
    text-transform: capitalize;
  }

  &.appointment {
    padding: 2rem;
    font-size: 2rem;
    border-radius: 0px;
    text-transform: capitalize;
  }

  &.btn-blue {
    background-color: $blue;
    border-color: $blue;
    color: $white;
    padding: 1rem 3rem;
    font-weight: 700;
    text-transform: lowercase;
    font-size: 1.6rem;

    &:hover {
      background-color: lighten($blue, 20%);
      border-color: lighten($blue, 20%);
    }
  }

  &.btn-help {
    background-color: $gray;
    color: $white;
    border: 1px solid $gray;
    &:hover {
      background-color: $pink;
      border-color: $pink;
    }
  }
}

.btn-black {
  background-color: $gray;
  color: $white;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: lowercase;

  &:hover {
    background-color: rgba($pink, 0.7);
    color: $white;
  }
}
