.clndr {
  margin: 1em 0;

  .clndr-controls {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $blue;
    padding: 15px;
    color: $white;

    .clndr-previous-button {
      cursor: hand;
      font-size: 28px;
      color: $white;
      &:hover {
        color: $pink;
      }
    }

    .clndr-next-button {
      cursor: hand;
      font-size: 28px;
      color: $white;
      &:hover {
        color: $pink;
      }
    }

    & > div {
      margin: 0 10px;
    }

    .month {
      text-align: center;
      font-weight: 700;
      font-size: 18px;
    }

  }

  .days-of-the-week {
    width: 100%;
    background: lighten($blue, 10%);
    color: $white;
    font-weight: 400;

    .header-day {
      display: inline-block;
      float: left;
      width: 14.2857%;
      padding: 12px 0;
      text-align: center;
    }
  }

  .days {
    background-color: #ebebeb;
    .event {
      a {
        background-color: #d2d2d2 !important;

      }
    }

    a {
      float: left;
      width: 14.2857%;
      padding: 12px 0;
      text-align: center;
      text-decoration: none;
      font-family: "Lato", sans-serif;
      font-size: 14px;
      font-weight: 300;
      color: #212121;
      border-right: 1px solid rgba(255, 255, 255, 0.5);
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      &:hover {
        color: $pink;
      }
    }
    .last-month, .next-month {
      a {
        color: lighten($gray, 50%);
        &:hover {
          cursor: not-allowed;
        }
      }
    }

  }
}