#editor, #admin {

  .cke table {
    width: 100%;
    border: 1px solid $gray;
    font-size: 1.4rem;
    font-family: "Verdana", "Helvetica", sans-serif;
    table-layout: fixed;

    th {
      padding: 1rem;
      font-weight: 700;
      text-align: center;
      background: $gray;
      color: $white;
      font-size: 1.2rem;
      vertical-align: middle;
    }

    td {
      padding: 1rem;
    }

  }

  .cke_contents {
    padding: 2rem;
    font-size: 1.6rem;
    font-family: "Verdana", "Helvetica", sans-serif;
  }

}

#editor .cke_bottom {
  background-color: $gray;
}