.Page--section-wrapper {
  background-color: transparent;
  color: $white;
}

.Page--chapter.active a {
    font-weight: bold;
    color: $blue !important;
}

.Page--Wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  align-content: stretch;

  .Page--section-wrapper {
    display: flex;
    margin-right: 2rem;
    flex-direction: column;
    flex: 1;
  }

  .Page--Content__wrapper {
    display: flex;
    flex: 3;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
  }

}

li.back-to-dashboard a {
  dsplay: block;
  width: 100%;
  display: block;
  padding: 1rem;
  color: $white;
  background-color: $gray;
}

.getjackd_hot-tips {
  padding: 5px 10px;
  background: #eee;
  border: 1px solid #ccc;
}

.Page--header {
  @include header-style();
}

.Page--controls {
  background-color: $white;
  color: $gray;
  padding: 0;

  .Page--paginator {

    color: $white;
    padding: 1rem;
    background: $gray;
    font-weight: 700;
    border-radius: 0px;
    width: 50%;
    text-rendering: optimizeLegibility;

    &:hover {
      background-color: $pink;
      color: inherit;
    }

  }
}

.Page--content {
  background-color: $white;
  padding: 2rem;
  font-size: 1.4rem;
  flex: 2;

  h1, h2, h3, h4, h5, h6 {
    text-transform: capitalize;
  }
}

.Page--chapters-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  margin: 0 auto;
  -moz-box-shadow: 0 0 5px #111;
  -webkit-box-shadow: 0 0 5px #111;
  box-shadow: 0 0 5px #111;

  .Page--children-chapters-descendants .Page--chapter a {
    border-bottom: 0px;
    border-left: 1px solid $blue;
  }

  .Page--children-chapters-descendants li {
    color: $blue;
  }

  .Page--parent-chapter {
    h4 {
      margin: 0;
      padding: 0;
      font-weight: 700;
    }
    & > a {
      background: $blue;
      color: $white;
      text-shadow: 0 1px 1px #000;
      display: block;
      padding: 12px;
      width: 100%;
      text-decoration: none;

      &:hover {
        background: rgba($blue, 0.8);
        text-decoration: none;
      }
    }
  }

  .Page--children-chapters {
    padding: 0;
    margin: 0;
    background: $white;
    margin: 0;
    padding: 0;
    -moz-box-shadow: inset 0 2px 2px #b3b3b3;
    -webkit-box-shadow: inset 0 2px 2px #b3b3b3;
    box-shadow: inner 0 2px 2px #b3b3b3;
    display: block;
  }

  .Page--chapter {

    &:first-child {
      padding-top: 6px;
    }

    &:last-child {
      padding-bottom: 6px;
      border: 0;

      a {
        border-bottom: 0;
      }

    }
    a {
      display: block;
      padding: 6px 12px;
      color: #999;
      text-decoration: none;
      width: 100%;
      border-bottom: 1px solid lighten($gray, 80%);

      &:hover {
        color: $blue;
      }
    }
  }

}
