#logo h1 {
  @include bp(iphone) {
    text-align: center;
    margin-bottom: 0px;
  }

  img {
    @include bp(iphone) {
      width: 40%;
    }
  }
}

.unauthenticated #logo {

  img {
    @include bp(iphone) {
      width: 80%;
    }
  }

}

.dash {
  .welcome-line {
    color: $white;
    background-color: $gray;
    font-size: 2rem;
    padding: 1em;
    font-weight: 700;
    @media screen and (max-width: 720px) {
      font-size: 1.4em;
    }
    margin: 0 auto;
    text-transform: capitalize;
  }

  &.home {
    .welcome-line {
      text-transform: capitalize;
    }
  }
}

main#dashboard, #app-dashboard, #business-dashboard, #marketing-dashboard, .center-page {
  margin: 0 4em;

  @include bp(large-screen) {
    margin: 0 10em;
  }

  @include bp(ipad) {
    margin: 0 1rem;
  }

  @include bp(iphone) {
    margin: 0 1em;
  }

}

.bookAppointment {
  @include bp(iphone) {
    margin: 1em 0;
    font-size: 1.8rem !important;
  }
}

.dashboard-tiles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  align-items: flex-start;
  justify-content: flex-start;

  .gj-tile {
    display: flex;
    height: 180px;
    background-color: rgba(1, 106, 151, 0.7);
    color: #FFFFFF;
    margin: 10px 2px;
    padding: 25px 0;
    text-decoration: none;
    transition: background-color 0.3s ease;
    flex: 1;
    min-width: 30%;
    @include transition(background-color 0.3s ease);

    @include bp(iphone) {
      flex-basis: 49%;
      justify-content: space-between;
      margin: 5px 0;
    }

    @include bp(iphone) {
      height: 150px;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    .fa {
      font-size: 5rem;
      @include bp(iphone) {
        font-size: 3em;
      }
    }

    &:hover {
      background-color: rgba($pink, 0.7);
    }

    h3 {
      margin: 4px 0;
      text-transform: capitalize;
    }

    .btn-tile {
      border: 1px solid $white;
      width: 100%;
      border-radius: 25px;
      padding: 10px 25px;

    }

    .tile-content {
      width: 100%;
      height: 100%;
      padding: 2em;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-wrap: nowrap;
      justify-content: center;

      @include bp(ipad) {
        justify-content: space-around;
        flex-direction: column;
      }
    }

    .tile-title {
      text-transform: capitalize;
      font-weight: 700;
      color: $white;
      font-size: 2rem;

      @include bp(iphone) {
        font-size: 1.2em;
      }
    }
  }
}

.package-dash {
  .dashboard-tiles {
    .tile-content {
      justify-content: center;
    }
  }
}

.business {
  .gj-tile {
    i {
      margin-top: 15px;
      font-size: 72px;
    }
  }
}