.footer {
  border-top: 1px solid $white;
  padding: 2rem 0;
  margin: 2rem;

  a {
    color: $white;
    display: block;
    float: left;
    margin-right: 10px;
    text-decoration: none;

    &:hover {
      color: $pink;
    }
  }
}