.briefing-form-wrap {
  width: 75%;
  margin: 0 auto;

  .briefing-form-header {
    @include header-style();
  }

  .briefing-form {
    padding: 1rem 4rem;
    color: $white;
    background-color: $blue;
  }

  .briefing-form-actions {
    padding: 2rem;
    background-color: darken($blue, 20%);

    .btn {
      font-size: 1.4rem;
      font-weight: 700;
    }

    .btn-success {
      background-color: $green;
      border-color: $green;
    }

  }

  .field {
    margin: 2rem 0;

    label {
      font-size: 1.6rem;
      font-weight: 300;
    }

    input[type=text] {
      border: 1px solid white;
      border-radius: 0;
      width: 100%;
      font-size: 1.6rem;
      color: $gray;
      background-color: $white;
    }

    textarea {
      border: 1px solid white;
      border-radius: 0;
      width: 100%;
      font-size: 1.6rem;
      color: $gray;
      background-color: $white;
    }
  }

}