html {
  height: 100%;
  overflow-x: hidden;
}

[v-cloak] {
  display: none;
}

#logo {
  display: block;
  margin: 2rem 0;
}

body {
  font-family: $font-face;
  height: 100%;
  background-color: $gray;
  background-image: url("/img/brand_images/2-bw.jpg");
  background-size: cover;
  overflow-x: hidden;
  position: relative;

  &.checkout {
    background-image: none;
    background-color: $gray;
    @include linear-gradient($gray, lighten($gray, 10));
  }

  &.content {
    background-image: url("/img/brand_images/1.jpg");
    color: $gray;
  }
}

&.package-pisi {
  body {
      background-color: $gray;
      background-image: url("/img/brand_images/1.jpg");
      background-size: cover;
  }
}

&.package-brandit {
  body {
      background-color: $gray;
      background-image: url("/img/brand_images/5.jpg");
      background-size: cover;
  }
}

.special-hints-box {
  background:#eee;
  border:1px solid #ccc;
  padding:5px 10px;
}

.loading-animation {
  color: white;
  width: 100%;
  position: absolute;
  bottom: 0px;
  z-index: 100;
  right: 0px;
  text-align: right;
  padding: 4rem;
  background-color: rgba($gray, 0.9);

  h1 {
    font-weight: 700;
    font-size: 4rem;
  }
}

#signInPrompt {
  padding: 20px;
  color: $white;
  font-weight: 700;
}

.page-wrapper {
  height: 100%;

  .headerSection {
    margin: 2em;
  }
}

.packageWrapper {
  min-height: 500px;
  height: 500px;
  background-color: $white;
}