#loginLogo {
  margin: 0 auto;
  text-align: center;
  padding: 1em 0;
}

.login.page-wrapper {
  margin: 0;
  padding: 0;
}

.flat-form {
  background: $white;
  color: $gray;
  margin: 0;
  width: 450px;
  height: 100%;
  position: relative;
  font-family: 'Lato';

  .btn-info {
    background-color: $gray;
    border-color: $gray;

    &:hover {
      background-color: $pink;
      border-color: $pink;
    }
  }

  .form-action {
    padding: 20px;
    position: relative;
  }
  h1 {
    font-size: 42px;
    padding-bottom: 10px;
  }
  p {
    font-size: 12px;
    padding-bottom: 10px;
    line-height: 25px;
  }
  a {
    color: $pink;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  form {
    padding-right: 20px !important;
    input {
      &[type=text],
      &[type=password],
      &[type=submit] {
        font-family: 'Lato';
      }
      &[type=text],
      &[type=password] {
        width: 100%;
        height: 40px;
        margin-bottom: 10px;
        padding-left: 15px;
        background: #fff;
        border: 1px solid $blue;
        color: $gray;
        outline: none;
      }
      &.button {
        border: none;
        display: block;
        background: #136899;
        height: 40px;
        width: 80px;
        color: #ffffff;
        text-align: center;
        &:hover {
          background: #1e75aa;
        }
        &:active {
          background: #136899;
        }
      }
      $placeholder-color: $gray;
      &::-webkit-input-placeholder {
        color: $placeholder-color;
      }
      &:-moz-placeholder {
        color: $placeholder-color;
      }
      &::-moz-placeholder {
        color: $placeholder-color;
      }
      &:-ms-input-placeholder {
        color: $placeholder-color;
      }
    }
  }
  .show {
    display: block;
  }
  .hide {
    display: none;
  }
}