.checkout {

  .menu-block {
    color: $white !important;
  }

}

.menu {
  list-style: none;
  margin: 4em 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: flex-end;

  @include bp(iphone) {
    margin: 1em 0;
  }

  .menu-block {
    color: #000000;
    position: relative;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 2em;

    @include bp(iphone) {
      color: $white;
    }

    @include transition(color 0.3s ease);

    &:hover {
      color: $pink;
    }
  }

  .fa {
    font-size: 40px;
  }

  .menu-subtitle {
    font-size: 18px;
    display: block;
    font-weight: 300;
    text-transform: capitalize;
  }

  .message-notification {
    position: absolute;
    top: -6px;
    right: 4px;
    background-color: $pink;
  }
}

.pushy {
  width: 300px;

  /* Changed the width to 400px */
  background: $gray;
  box-shadow: none;

  .badge {
    background-color: $pink;
  }

  .logo-link:hover {
    background-color: transparent;
  }

  a {
    color: $white;

    &:hover {
      background: rgba($pink, 0.4);
      color: $white;
      text-decoration: none;

      .badge {
        background-color: $gray;
      }
    }
  }

  h2 {
    color: $white;
  }

  ul {
    padding: 0;
    margin: 0;
  }
}

.pushy-left {
  transform: translate3d(-400px, 0, 0);

  /* Updated the values */
  /* Don't forget the vendor prefixes */
}

.container-push, .push-push {
  transform: translate3d(400px, 0, 0);

  /* Updated the values */
  /* Don't forget the vendor prefixes */
}