

.marketing-dash, #welcomeMessage, #forgotPassword {

  .welcome-message-wrapper {
    margin: 0 1rem;
    background-color: $white;
    padding: 2rem;
  }

  .modal-content {
    border: 0px;
    box-shadow: 0px;
    border-radius: 0px;
  }

  .modal-body {
    padding: 0px;
  }

  .modal-header {
    background-color: $gray;
    color: $white;
    border-bottom: 0;
    padding: 0px 15px;
    height: 40px;

    h4 {
      color: $white;
      font-weight: 700;
      text-align: center;
      font-family: "Lato";
      font-size: 1.8rem;
      margin: 0;
      line-height: 40px;
    }

    .close {
      color: $white;
      font-size: 2rem;
      margin-top: 7px;
    }
  }

  .modal-footer {
    border: 0px;
  }
}

.modal-content {
  color: black;
  background-color: #eeecec;

  a {
    color: $blue;
    text-decoration: underline;

    &:hover {
      color: $pink;
    }
  }
}

.modal-header {
  padding: 15px;
}

.modal-footer {
  padding: 15px;
  text-align: right;
}

.modal {
  .btn-default {
    color: white;
    background-color: $blue;
  }
}

.marketing-dash #marketing-plans .modal-header{
  padding: 15px !important;
}

#editor, #app-dashboard, #business-dashboard, #marketing-dashboard {
  .modal-mask {
    position: fixed;
    z-index: 106;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    display: flex;
    transition: opacity .3s ease;
  }

  .modal-wrapper {
    display: flex;
    vertical-align: middle;
    height: auto;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 10rem;
  }

  .modal-container {
    width: 100%;

    @include bp(ipad) {
      width: 95%;
    }

    margin: 0px auto;
    padding: 0;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    z-index: 100;
    font-family: "Lato", Arial, sans-serif;

    .btn-primary {
      background-color: $blue;
      border-color: $blue;

      &:hover {
        background-color: $pink;
        border-color: $pink;
      }
    }

  }

  .modal-header {
    border-bottom: 0px;
    background-color: $gray;
  }

  .modal-header h3 {
    color: $white;
    font-weight: 700;
    margin: 0;
    font-size: 1.8rem;
    text-align: center;
    font-family: "Lato";
  }

  .modal-body {
    margin: 20px 0;
    padding: 0 30px;
  }

  .modal-default-button {
    float: right;
  }

  .modal-footer {
    border-top: 0;
  }
}

#business-plans, #marketing-plans {
    button.btn-link {
    font-size: 3rem;
    color: #FFF;
    position: absolute;
    right: 0px;
    top:-5px;
  }

  .modal-header {
    position: relative;
  }
}

.Plan--Editor {

  .modal-header {
    position: relative;

    .btn-link {
      font-size: 3rem;
      position: absolute;
      top: -5px;
      right: 20px;
      color: white;
    }
  }

}

#my-packages {

  .modal-container {
    box-shadow: none;
    background-color: transparent;
  }

  button.btn-link {
    font-size: 5rem;
    color: #FFF;
    position: absolute;
    right: 0px;
    top: 9px;
  }

  .modal-header {
    background-color: transparent;
    position: relative;
  }

  .modal-header h3 {
    font-weight: 700;
    color: $white;
    font-size: 3rem;
    background-color: transparent;
  }
}

.modal-enter, .modal-leave {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#business-plans, #marketing-plans {
  .modal-container {
    background-color: lighten($gray, 80%);
  }

  .plan-items-wrapper {
    max-height: 180px;
    overflow-y: scroll;
  }

  .plan-list {
    background: #fff;
    border: 1px solid #ddd;
    border-top: none;
    border-radius: 3px;
    list-style: none;
    padding: 0;
    margin: 0;

    .create-plan h3 {
      font-weight: 700;
      font-size: 2.4rem;
    }

    .create-plan .form-control {
      width: 100%;
      box-sizing: border-box;
      border-radius: 3px;
      border: 1px solid #d7d7d7;
      height: 43px;
      margin-top: 10px;
      margin-bottom: 17px;
      font-size: 18px;
      box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.06);
      padding: 0 12px;
      transition: all 0.3s;
    }

    .plan-list-item {
      border-bottom: 1px solid lighten($gray, 80%);
      color: $gray;
      font-size: 18px;
      line-height: 1;
      padding: 0 25px;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-end;

      .delete-pdf {
        padding: 0 1rem;
        a {
          color: $pink;
          &:hover {
            color: lighten($pink, 20%);
          }
        }
      }

      a:hover {
        color: $white !important;
      }

      &:hover {
        background-color: $gray;
        color: $white;

        a {
          color: $white !important;
        }
      }
    }

    .plan-pdf {
      color: $pink;
      font-size: 21px;
      margin-right: 20px;
    }

    .plan-create-pdf {
      margin-right: 25px;
    }

    .plan-create-pdf a {
      color: $green;
      font-size: 21px;
      margin-right: 20px;
      cursor: pointer;
    }

    .regenerate-pdf {
      color: $green;
      font-size: 21px;
      margin-right: 20px;
      cursor: pointer;
    }

    .plan-created-at {
      font-size: 1.6rem;
    }

    .plan-list-title {
      color: $gray;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;

      a {
        display: block;
        color: inherit;
        padding: 15px 0;
        font-weight: 700;
        font-size: 1.6rem;
        text-transform: capitalize;
        &:hover {
          color: inherit;
        }
      }
    }
  }
}

#editor {
  .modal-body {
    font-size: 1.4rem;
    color: lighten($gray, 20%);
    text-tendering: geometricPrecision;
  }
}

#app-dashboard {

  .package-flex {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;

    @include bp (ipad) {
      overflow-y: scroll;
      max-height: 450px;
    }

    .upgrade-price {
      font-size: 2.4rem;
      color: $gray;
    }

    .package-tile {
      background-color: $blue;
      color: $white;
      min-width: 49%;
      padding: 3rem;
      margin: 0.3rem 0;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .tile-inner {
        width: 100%;
      }

      .btn:hover, .btn:focus, .btn.focus {
        color: #fff;
      }

      @include bp (ipad) {
        min-width: 100%;
      }

      i {
        margin-top: 15px;
        font-size: 6rem;
      }

      &.unowned {
        background-color: lighten($gray, 50%);
      }

      h4 {
        font-size: 2.4rem;
        font-weight: 700;
      }

    }

  }

}

.Messages--Message-Box {

  .Message {
    padding: 1rem;
    border-bottom: lighten($blue, 20%);
    text-transform: capitalize;
  }

  .list-group {
    margin-bottom: 0px;
  }

}

#editor .modal-body {
  max-height: 300px;
  overflow: hidden;
  overflow-y: scroll;
}

#editor .modal-container {
  .nano-pane   { background: #888; }
  .nano-slider { background: #111; }
}

.Messages--Message-Box {
  position: absolute;
  box-sizing: border-box;
  width: 16em;
  margin-top: 2rem;
  height: 150px;
  overflow: hidden;
  overlfow-y: scroll;
  right: 70px;
  z-index: 2;
}

/* always present */
.expand-transition {
  transition: all .3s ease;
  height: auto;
  padding: 10px;
  overflow: hidden;
}

/* .expand-enter defines the starting state for entering */
/* .expand-leave defines the ending state for leaving */
.expand-enter, .expand-leave {
  height: 0;
  padding: 0 10px;
  opacity: 0;
}

#marketing-plans, #business-plans {

  .modal-container {
    width: 80% !important;
    position: absolute;
    top: 10%;
    left: 10%;

    @include bp(ipad) {
      width: 100% !important;
      top: 0%;
      left: 0%;
    }

    @include bp(iphone)  {
      width: 100% !important;
      top: 0%;
      left: 0%;
    }
  }


}