a.Plan--Chapter__link.v-link-active{ background-color: rgba($pink, 0.8) !important; color: $white !important; }
.Plan--Editor__no-active {
  background-color: $blue;
  color: $white;
  height: 768px;
  min-height: 768px;

  .flex-wrapper {
    display: flex;
    flex-flow: column nowrap;
    padding: 4rem;
    height: 100%;
  }

  .help-text-flex {
    display: flex;
    flex-flow: column nowrap;
    font-size: 2.4rem;
    font-weight: 700;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
    flex: 1;

    p:first-child {
      font-size: 3.2rem;
    }

    p:last-child {
      font-weight: 300;
      font-size: 1.8rem;
    }
  }

  .Plan--Editor__header {
    @include header-style();
  }
}

#publish {
  border-radius: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2rem;
  background-color: lighten($blue, 30%);
  border-color: lighten($blue, 30%);
}

.Plan--Chapters ul {
  list-style: none;
}

.Plan {
}

// main app wrapper

.Plan--Title {

}

.Plan--Editor {
  background-color: $blue;

  .uploaded-documents {
    padding: 2rem;
    color: #FFF;
  }

  .dropzone {
    background-color: rgba(0, 0, 0, 0);
    color: #FFF;
    border-color: #FFF;
    margin: 2rem;
    border-style: dashed;
    font-size: 2.6rem;
  }

  .Spreadsheet--Template {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    color: #FFF;
    min-height: 400px;
    font-size: 2rem;
    padding: 4rem;
    text-align: center;
    background-color: $blue;

    .btn-link {
      color: $white;

      &:hover, &:focus, &:active {
        color: $pink;
      }
    }

  }

  .Spreadsheet--Template h2 {
    font-weight: 700;
    font-size: 4rem;
  }

  .Spreadsheet--Template .btn-info {
    font-size: 3rem;
    font-weight: 700;
    padding: 2rem;
  }

  .Spreadsheet--Template p {
    font-size: 1.6rem;
    margin: 2rem 0;
  }

  .Plan--Chapter__status {
    float: none !important;
    font-size: 1.2rem;
    display: inline-block;
  }

  .Plan--Editor__actions {
    padding: 2rem;
    background-color: darken($blue, 20%);

    .btn {
      font-size: 1.4rem;
      font-weight: 700;
    }

    .btn-success {
      background-color: $green;
      border-color: $green;
    }

  }

  .Plan--Editor__header {
    @include header-style();
  }

  .Plan--Editor__hint-area {
    padding: 1rem;

    .btn-black {
      text-transform: capitalize;
    }

  }
}

.Plan--Editor__editor-area {
  height: 615px;
  max-height: 615px;
}

.Plan--Chapters__sublist .Plan--Chapter__container {
  background-color: $gray !important;
  color: $white !important;
  font-weight: bold !important;
}

.Plan--Chapter__link {
  position: relative;
}

.Plan--Editor .Plan--Chapter__status {
  position: absolute;
  right: 35px;
  top: 8px;
}

.Plan--Chapter__status {
  display: inline;
  float: right;
  background: darken($blue, 10%);
  border: 1px solid darken($blue, 10%);
  border-bottom: 1px solid darken($blue, 20%);
  padding: 4px 12px;
  font-size: 10px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: inset 0 0 10px #111;
  -webkit-box-shadow: inset 0 0 10px #111;
  box-shadow: inner 0 0 10px #111;
  color: $white;
  margin-top: -2px;
  position: absolute;
  right: 8px;

  &.Plan--Status__published {
    background-color: $green;
    border-color: $green;
  }

  &.Plan--Status__draft {
    background-color: #eea236;
    border-color: #eea236;
  }

  .Plan--Chapter__subchapter {
    .Plan--Status__published {
      color: #999;
      background: none;
      border: 1px solid #ccc;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
    .Plan--Status__draft {
      color: #999;
      background: none;
      border: 1px solid #ccc;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
}

.Plan--Chapters {

  .Plan--Chapter {
    position: relative;

  }

  .Plan--Chapters__header {
    @include header-style();
  }

  .Plan--Chapters__list {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    margin: 0 auto;
    -moz-box-shadow: 0 0 5px #111;
    -webkit-box-shadow: 0 0 5px #111;
    box-shadow: 0 0 5px #111;

    max-height: 695px;
    overflow: hidden;
    overflow-y: scroll;

    & > .Plan--Chapter {
      & > a {
        background: $blue;
        color: $white;
        text-shadow: 0 1px 1px #000;
        display: block;
        padding: 12px;
        width: 100%;
        font-weight: 700;
        text-decoration: none;

        &:hover {
          background: rgba($blue, 0.8);
          text-decoration: none;
        }
      }
    }

  }

  .Plan--Chapters__sublist {
    padding: 0;
    margin: 0;
    background: $white;
    margin: 0;
    padding: 0;
    -moz-box-shadow: inset 0 2px 2px #b3b3b3;
    -webkit-box-shadow: inset 0 2px 2px #b3b3b3;
    box-shadow: inner 0 2px 2px #b3b3b3;
    display: block;

    .Plan--Chapters__sublist .Plan--Chapter__with-nest > a {
      background-color: $gray;
      color: $white;
    }

    & > .Plan--Chapter__subchapter {

      &:first-child {
        padding-top: 0px;
      }

      &:last-child {
        padding-bottom: 0px;
      }

      a {
        display: block;
        background: $white;
        padding: 6px 12px;
        color: #999;
        font-weight: 400;
        text-decoration: none;
        width: 100%;
        border-bottom: 1px solid lighten($gray, 80%);

        &:hover {
          color: $blue;
        }
      }

    }

  }
}
