.profile-wrap {
  width: 80%;
  min-width: 1050px;
  max-width: 1700px;
  margin: 0 auto;
  padding: 20px 20px 100px 20px;
  position: relative;
  background-color: transparent;
}

.profile-wrap {

  input[type=text], textarea, input[type=email] {
    border: 1px solid lighten($gray, 50%);
    border-radius: 0px;
  }

  input[type=file] {
    border: 0px;
  }

  .nav-tabs {
    border: none;
  }

  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: $gray;
    color: $white;
    font-weight: 700;
  }

  .nav-tabs > li > a {
    background-color: $blue;
    color: $white;
    font-weight: 700;
    border: none !important;
  }

}

.profile-wrap li {
  border: 0px;
}

.plans-list {
  max-height: 300px;
  overflow: hidden;
  overflow-y: scroll;
}

.edit-profile-wrap {
  background-color: $white;
  min-height: 350px;

  .profile-edit-form {
    padding: 2rem;

    h2 {
      font-weight: 700;
      font-size: 2rem;
      color: #000;
    }

  }

  .profile-edit-header {
    @include header-style();
  }
}

.title {
  @include header-style();
}

.profile-wrap h1 {
  font-weight: 400;
  letter-spacing: 2px;
  word-spacing: 4px;
  color: #FFFFFF;
  width: 100%;
  text-transform: capitalize;
  font-size: 4.5rem;
}

.profile-item-header {
  font-size: 1em;
  line-height: 2em;
  font-weight: 700;
}


.profile-edit-form .control-label {
  text-align: left;
}

.profile-item {
  font-size: 1em;
  line-height: 2em;
}

.brief-question {
  font-size: 1.4em;
  font-weight: 600;
}

.brief-question:before {
  content: 'Q';
  margin-right: 30px;
}

.brief-answer {
  font-size: 1.4em;
  font-weight: 400;
}

.brief-answer:before {
  content: 'A';
  margin-right: 30px;
}

.brief-doc {
  margin-left: 50px;
}
