.signup-title {
  font-weight: 700;
  color: $white;
  background: $gray;
  padding: 20px;
  text-align: center;
  width: 100%;
  text-transform: capitalize;
  font-size: 1.8rem;

  @include bp(iphone) {
    font-size: 1.8rem;
  }

  @include bp(ipad) {

  }
}

.login-text {

  @include bp(iphone) {
    margin-top: 4rem;
  }

}

.signup-form-wrap {
  max-width: 660px;
  min-width: 320px;
  border-top: 10px solid rgba($gray, 0.5);
  margin: 0 auto;
  padding: 10px 10px 100px 10px;
  color: $white;

  .checkout-title {
    font-size: 4.5rem;
    margin: 15px 0;
    color: $white;
    font-weight: 800;
    text-transform: capitalize;
  }

  .form {
    padding: 1em 0;
  }

  .field-half {
    width: 50%;
    float: left;

    @include bp(iphone) {
      width: 100%;
    }
  }

  .field {
    margin: 0 0 20px 0;
    padding-right: 20px;

    .userName {
      font-size: 4.2rem;
      color: lighten($white, 20);
      font-weight: 300;
      border-bottom: 2px dashed lighten($white, 20);
      padding: 0 0 25px 0;
    }

    .price {
      color: $pink;
    }

    small {
      color: $white;
    }

    label {
      display: block;
      color: $white;
      font-weight: 400;
      font-size: 2rem;
      margin: 0 0 2px 0;
      width: 100%;
    }
  }

  input[type='name'], input[type='text'], input[type='email'], input[type='password'], input[type='search'], input[type='url'], input[type='tel'], input[type='number'], textarea {
    font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
    font-size: 16px;
    -webkit-appearance: none;
    padding: 4px 5px 4px 5px;
    outline: 0;
    color: $gray;
    border: 3px solid #ccc;
    border-radius: 2px;
    width: 100%;
    -webkit-transition: border-color 0.2s;
    transition: border-color 0.2s;
  }
}
.signup-wrap {
  width: 90%;
  margin: 0 auto;
}

.signup-packages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .package {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .upper-package {
    background-color: $blue;
    color: $white;
    position: relative;
    padding: 15px 20px;
    height: 250px;
    text-align: center;
    font-weight: 700;

    h4 {
      font-weight: 700;
    }

    .package-tagline {
      font-weight: 300;
      font-size: 1.8rem;
    }


    .price-section {
      width: 100px;
      height: 100px; 
      border-radius: 50%;
      border: 1px solid lighten($gray, 40%);
      background-color: $white;
      position: absolute;
      bottom: -25px;
      left: 0;
      right: 0;
      margin: 0 auto;
      box-shadow: 1px 1px 6px rgba($gray, 0.5);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .price-figure {
        color: $blue;
        font-weight: 600;
        font-size: 2rem;
      }
    }
  }

  .middle-package {
    background-color: lighten($gray, 80%);
    color: $gray;
    padding: 35px 20px;
    font-size: 1.6rem;
  }

  .lower-package {
    background-color: $white;
    color: $gray;
    padding: 15px 20px;
  }

  .btn-pink {
    background-color: $pink;
    color: $white;
    text-transform: uppercase;
    font-weight: 600;
  }

}