/* Grab Twitter Bootstrap -- SASS Version */
@import "_bootswatch";
@import "bower_components/font-awesome/scss/font-awesome";
@import "_fullcalendar";
@import "_datepicker";
@import "_variables";
@import "_ckeditor";

body {
  padding-top: 76px;
}

.getjackd_hot-tips {
	padding: 5px 10px;
	background: #eee;
	border: 1px solid #ccc;
}

#calendarPanel {
  .panel-body {
    padding: 0px;
  }

  .fc-toolbar {
    padding: 2rem;
  }
}