<li class="Plan--Chapter" v-bind:class="{ 'Plan--Chapter__with-nest': hasChildren  }">
  <a v-if="category.content_type === 'document'" v-link="{ path: '/upload/' + category.id }" @click="setActive" class="Plan--Chapter__link">
    <span class="Plan--Chapter__title">{{category.name}}</span>
    <template v-if="hasContent === true">
    <span v-if="isDraft === false" class="Plan--Chapter__status Plan--Status__published">Published</span>
    <span v-if="isDraft === true" class="Plan--Chapter__status Plan--Status__draft">Saved</span>
    </template>
  </a>
  <a v-if="category.content_type === 'spreadsheet'" v-link="{ path: '/spreadsheet/' + category.id }" @click="setActive" class="Plan--Chapter__link">
    <span class="Plan--Chapter__title">{{category.name}}</span>
  </a>
  <a v-if="category.content_type === 'text'" v-link="{ path: '/edit/' + category.id }" @click="setActive" class="Plan--Chapter__link">
      <span class="Plan--Chapter__title">{{category.name}}</span>
        <template v-if="hasContent === true">
          <span v-if="isDraft === false" class="Plan--Chapter__status Plan--Status__published">Published</span>
          <span v-if="isDraft === true" class="Plan--Chapter__status Plan--Status__draft">Saved</span>
        </template>
  </a>

  <a v-if="category.content_type === 'container'" href="#" @prevent class="Plan--Chapter__container">
    <span class="Plan--Chapter__header">{{category.name}}</span>
  </a>

  <ul v-if="hasChildren" class="Plan--Chapters__sublist">
    <category class="Plan--Chapter__subchapter"
          v-for="category in category.children"
          id="Plan--Category__{{category.id}}"
          :active.sync="active"
          :content="category.contents[0]"
          :default="category.default_content"
          :plan="plan"
          :type="type"
          :category="category">
    </category>
  </ul>
</li>
