<div class="Plan--Editor" id="editor">

    <div class="Plan--Editor__header">
        <h2>{{ active.category.name }} <span v-if="hasContent"
                                             class="Plan--Chapter__status {{isDraft ? 'Plan--Status__draft' : 'Plan--Status__published'}}">{{ isDraft ? 'Saved' : 'Published' }}</span>
        </h2>
    </div>

    <modal :show.sync="showModal" :tip="active.category.tip_id">
        <h3 slot="header">Helpful Hint - {{active.category.name}}</h3>
    </modal>

    <div class="Plan--Editor__hint-area">
        <div class="row">
            <div class="col-md-12">
                <div class="hints clearfix">
                    <button class="btn btn-black pull-right btn-lg" 
                            @click="showModal = true">Helpful Hint &nbsp;&nbsp; 
                            <i class="fa fa-info-circle"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <div class="Plan--Editor__editor-area">
                <form @submit.prevent class="editorForm" method="post">

                    <textarea class="form-control" id="richText_{{active.category.id}}" v-model="section_text">{{{ editorContent }}}</textarea>

                    <div class="Plan--Editor__actions">
                        <div class="btn-group" role="group" aria-label="...">
                            <button class="btn btn-warning btn-lg" name="draft" value="Draft" @click="submitDraft">
                                <span class="hidden-xs">Save as Draft &nbsp;&nbsp;</span><i class="fa fa-file-o"></i></button>
                            <button class="btn btn-danger btn-lg" name="delete" v-if="hasContent" @click="deleteContent"
                                    value="Delete"> <span class="hidden-xs">Delete &nbsp;&nbsp; </span>   <i class="fa fa-trash-o"></i></button>
                            <button class="btn btn-danger btn-lg" name="delete" v-else value="Delete" disabled> <span class="hidden-xs"> No Content
                                Saved  &nbsp;&nbsp;</span> <i class="fa fa-trash-o"></i></button>
                            <button class="btn btn-success btn-lg" name="publish" value="Publish" @click="publishContent">
                                <span class="hidden-xs">Publish &nbsp;&nbsp;</span><i class="fa fa-file-text-o"></i></button>
                        </div>

                    </div>

                </form>

            </div>

        </div>
    </div>

</div>
