<div @keyup.esc="show = false" class="modal-mask" v-show="show" transition="modal">
    <div class="modal-wrapper">
      <div class="modal-container">

        <div class="modal-header">
          <slot name="header">
            Helpful Hint
            <button class="btn btn-link" @click="show = false">&times;</button>
          </slot>
          <button class="btn btn-link" @click="show = false">&times;</button>
        </div>

        <div class="modal-body">
          <slot name="body">
            {{{ helpfultip }}}
          </slot>
        </div>

        <div class="modal-footer">
          <slot name="footer">
            <button class="btn btn-lg btn-primary"
              @click="show = false">
              Got it!
            </button>
          </slot>
        </div>
      </div>
    </div>
  </div>
