<div class="Plan">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4 col-lg-3 col-sm-6 nopadding">
				<div class="Plan--Chapters">
					<div class="Plan--Chapters__header clearfix">
						<h2 class="Plan--Title" v-if="type === 'marketing'">
						My Marketing Plan
						</h2>
						<h2 class="Plan--Title" v-else>
						My Business Plan
						</h2>
					</div>
					<ul class="Plan--Chapters__list">
						<template v-for="category in categories">
						<category
						class="category"
						id="Plan--Category__{{category.id}}"
						:category="category"
						:safe="safe"
						:default="category.default_content"
						:content="category.contents[0]"
						:active.sync="active"
						:plan="plan"
						:type="type"
						>
						</category>
						</template>
					</ul>
					<a v-if="type === 'marketing'" class="btn btn-block dashboard" href="/dashboard/market">&larr; Back To Dashboard</a>
					<a v-if="type === 'business'" class="btn btn-block dashboard" href="/dashboard/business">&larr; Back To Dashboard</a>
				</div>
			</div>
			<div class="col-md-8 col-lg-9 col-sm-6">
				<router-view v-ref:editor :type="type" :plan="plan" :safe="safe" v-if="active" :active.sync="active"></router-view>
				<div v-else class="Plan--Editor__no-active">
					<div class="flex-wrapper">
						<div class="help-text-flex">
							<template v-if="edited > 0">
							   <p>
									Welcome Back
								</p>
								<p>
									Click the menu on the left change or update.
								</p>
								<p>
									If you need more help, click <strong>here.</strong>
								</p>
							</template>

							<template v-else>
								<p>
									Welcome to your {{type | capitalize}} Plan
								</p>
								<p>
									Click on the menu on the left to begin.
								</p>
								<p>
									If you need more help, click <strong>here.</strong>
								</p>

								<p>Oh and we’ve given you a heap of ‘Helpful Hints’ as you move through your plan. Click on the button on the top right and you’ll find useful tips, tricks and advice to make sure you stay on track. </p>
							</template>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>