<div id="editor" class="Plan--Editor">
    <div class="Plan--Editor__header">
        <h2>{{ active.category.name }} <span v-if="hasContent"
                                             class="Plan--Chapter__status {{isDraft ? 'Plan--Status__draft' : 'Plan--Status__published'}}">{{ isDraft ? 'Saved' : 'Published' }}</span>
        </h2>
    </div>
    <modal :show.sync="showModal" :tip="active.category.tip_id">
        <h3 slot="header">Helpful Hint - {{active.category.name}}</h3>
    </modal>
       <div class="Plan--Editor__hint-area">
        <div class="row">
            <div class="col-md-12">
                <div class="hints clearfix">
                    <button class="btn btn-black pull-right btn-lg" 
                            @click="showModal = true">Helpful Hint &nbsp;&nbsp; 
                            <i class="fa fa-info-circle"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="Plan--Editor__editor-area">
                <div class="Spreadsheet--Template">
                    <h2>Download {{ active.category.name }} Template</h2>
                    <p>
                        <a v-if="active.category.id == 42" href="/api/spreadsheet/profitloss" class="btn btn-link btn-xl"><i class="fa fa-arrow-circle-o-down fa-5x"></i></a>
                        <a v-if="active.category.id == 43" href="/api/spreadsheet/balancesheet" class="btn btn-link btn-xl"><i class="fa fa-arrow-circle-o-down fa-5x"></i></a>
                        <a v-if="active.category.id == 44" href="/api/spreadsheet/expected" class="btn btn-link btn-xl"><i class="fa fa-arrow-circle-o-down fa-5x"></i></a>
                        <a v-if="active.category.id == 68" href="/api/spreadsheet/activitytimeline" class="btn btn-link btn-xl"><i class="fa fa-arrow-circle-o-down fa-5x"></i></a>
                        <a v-if="active.category.id == 78" href="/api/spreadsheet/digitalsocial" class="btn btn-link btn-xl"><i class="fa fa-arrow-circle-o-down fa-5x"></i></a>
                    </p>
                    <p>We've created an easy-to-use spreadsheet for you to start looking at your financials.
                        Download and edit as required then upload into your plan ready for exporting.</p>
                </div>
            </div>
        </div>
    </div>
</div>

