<div id="editor" class="Plan--Editor">
    <div class="Plan--Editor__header">
        <h2>{{ active.category.name }}
            <span v-if="hasContent" class="Plan--Chapter__status {{isDraft ? 'Plan--Status__draft' : 'Plan--Status__published'}}">{{ isDraft ? 'Saved' : 'Published' }}</span>
        </h2>
    </div>
    <modal :show.sync="showModal" :tip="active.category.tip_id">
        <h3 slot="header">Helpful Hint - {{active.category.name}}</h3>
    </modal>
       <div class="Plan--Editor__hint-area">
        <div class="row">
            <div class="col-md-12">
                <div class="hints clearfix">
                    <button class="btn btn-black pull-right btn-lg" 
                            @click="showModal = true">Helpful Hint &nbsp;&nbsp; 
                            <i class="fa fa-info-circle"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="Plan--Editor__editor-area">
                <div id="dz" class="dropzone"></div>
                <div class="uploaded-documents" v-show="documents.length > 0">
                    <h2>Uploaded Documents</h2>
                    <table class="table">
                        <thead>
                            <th>Document Name</th>
                            <th>Actions</th>
                        </thead>
                        <tbody>
                            <tr v-for="document in documents">
                                <td><span><i class="fa fa-check"></i></span><strong>{{ document.filename }}</strong></td>
                                <td><button @click="destroyDocument(document)" href="#" class="btn btn-xs btn-danger">Delete</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

