<div class="clndr-controls">
    <div><a href="#" class="clndr-previous-button btn btn-link"><i class="fa fa-arrow-circle-o-left"></i></a></div>
    <div class="month">{{ this.month }}</div>
    <div><a href="#" class="clndr-next-button btn btn-link"><i class="fa fa-arrow-circle-o-right"></i></a></div>
</div>

<div class="clndr-grid">
    <div class="days-of-the-week clearfix">
        {{#each daysOfTheWeek }}
        <div class="header-day">{{ this }}</div>
        {{/each}}
    </div>
    <div class="days clearfix">
        {{#each days }}
        <div class="{{ this.classes }}">
            <a href="#">{{ this.day }}</a>
        </div>
        {{/each}}
    </div>
</div>