<h4>Pick a Time for <strong class="text-info">{{pickedDay.picked}}</strong></h4>

{{#if appointments}}
<div class="list-group clearfix">
	{{#each appointments}}
		{{#equal availability "1"}}
		<label class="list-group-item list-group-item-success">
			<input type="radio" style="display: inline-flex; margin-right: 10px;" name="appointment_selected" data-appointment-id="{{id}}">
			{{formatDate start_time 'short'}} to {{formatDate end_time 'short'}}
				<span class="label label-success pull-right">Available</span>
			</input>
		</label>
        {{else}}
        <label class="list-group-item list-group-item-danger">
			<input type="radio" style="display: inline-flex; margin-right: 10px;" name="appointment_selected" data-appointment-id="{{id}}" disabled="">
			<s>{{formatDate start_time 'short'}} to {{formatDate end_time 'short'}}</s>
				<span class="label label-danger pull-right">Booked</span>
			</input>
		</label>
		{{/equal}}
	{{/each}}
	<button id="bookAppointment" type="button" class="btn btn-success col-md-12" data-appointment-type="{{appointment_type}}">Book an Appointment</button>
</div>
{{else}}
	<h4 class="text-muted">Sorry, there aren't any appointments available today...</h4>
{{/if}}