<div class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                
                {{#equal appointment_type 1}}
                <h4 class="modal-title">Book a Briefing With Us</h4>
                {{else}}                            
                <h4 class="modal-title">Book a Review With Us</h4>
                {{/equal}}
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            {{#equal appointment_type 1}}
                            <h2>Get planning with us.</h2>
                            {{else}}                            
                            <h2>Schedule a review with us.</h2>
                            {{/equal}}
                            <p>This calendar is here for you to choose your session time with us. Click on the day that works for you and the available times will pop up in green. Once you find a time that works, hit ‘Book an Appointment’ and we’ll lock it down. You’ll receive an email from us with confirmation of our time together and an agenda. Lock. It. In. Eddy. </p>
                            <div id="pickTime"></div>
                        </div>
                        <div class="col-md-6">
                            <div id="appointmentCalendar"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>