<div>
    <a href="#" @click="showMessagePopover = showMessagePopover ? false : true" class="menu-block" >
        <span class="badge message-notification">{{ count }}</span>
        <i class="fa fa-envelope-o"></i>
        <span class="menu-subtitle">Messages</span>
    </a>

    <notification-popover :messages="messages" :show.sync="showMessagePopover">
    </notification-popover>

</div>