<div class="modal-mask" v-show="show" transition="modal">
    <div class="modal-wrapper">

        <div class="modal-container">

            <div class="modal-header">
                <slot name="header"></slot>
                <button class="btn btn-link" @click="show = false">&times;</button>
            </div>

            <div class="modal-body">
                <slot name="body">
                    <div class="plan-list">
                        <plan v-for="plan in plans" :type="type" :plan="plan"></plan>
                        <slot name="no-plans"><p class="text-muted text-center" style="font-weight: 700;font-size: 3rem;padding:2rem;margin: 1rem 0;">Click on any plan above to download.</p></slot>
                    </div>
                </slot>

            </div>

            <div class="modal-footer">
                <slot name="footer"></slot>
            </div>

        </div>
    </div>
</div>
