<div class="plan-list-item">

    <span v-if="hasFile == false" class="plan-create-pdf">
    	<a href="#" class="generate-pdf" target="_blank" data-toggle="tooltip" data-placement="right" title="Generate Your PDF" @click="dispatchPDFCreation">
        <i class="fa fa-plus-circle"></i></a>
    </span>

    <template v-else>
        <a href="#" class="regenerate-pdf" target="_blank" @click="dispatchPDFCreation" data-toggle="tooltip" data-placement="right" title="Regenerate This Plan's PDF">
        <i class="fa fa-retweet"></i></a>        

        <a href="#" class="regenerate-pdf" target="_blank" @click.prevent="clonePlan(plan)" data-toggle="tooltip" data-placement="right" title="Copy This Plan">
        <i class="fa fa-clone"></i></a>

        <span class="plan-create-pdf">
        <i class="fa fa-check text-success"></i></span>
    </template>

    <span class="plan-list-title"><a href="{{contentUrl}}/content/">{{ plan.name }}</a></span>
    <span class="plan-created-at">Made {{ formattedTime }}</span>
    <span class="delete-pdf"><a href="#" @click="deletePlan"><i class="fa fa-minus-circle"></i></a></span>

</div>