<div class="modal-mask" v-show="show" transition="modal">
    <div class="modal-wrapper">
        <div class="modal-container">
            <div class="modal-header">
                <slot name="header"></slot>
                <button class="btn btn-link" @click="show = false">&times;</button>
            </div>
            <div class="modal-body">
                <slot name="body">
                    <p class="text-description">Ready to create your plan? Awesome. To get started name your plan in the box below and hit ‘Create Plan.’ Your plan will generate and you can type, type away.</p>
                    <div class="plan-list">
                        <div class="plan-items-wrapper">
                            <plan v-for="plan in plans" :type="type" :plan="plan"></plan>
                        </div>
 
                        <div class="create-plan" style="padding: 2rem; margin: 1rem 0;">
                            <p class="text-description">Finished your plan? Cool, well done you! Hit <i class="fa fa-plus-circle"></i> to generate a PDF of your plan. This may take a few moments, so check back under the ‘Download My Plan’ tile on your Dashboard to download and keep. Yep, it’s that easy. You’re welcome.</p>
                            <h3>Create A New Plan</h3>
                            <form @submit.prevent class="form" action="#" method="post" name="create_plan">
                                <div class="form-group">
                                    <input v-model="plan_name" type="text" class="form-control" value="" name="plan_name" placeholder="Name your plan" />
                                </div>
                                <input type="submit" @click="createPlan" value="Create Plan" class="btn btn-primary btn-lg">
                            </form>
                        </div>
                    </div>
                </slot>
            </div>
            <div class="modal-footer">
                <slot name="footer"></slot>
            </div>
        </div>
    </div>
</div>
