<div v-if="hasFile" class="plan-list-item">
    <span class="plan-list-title">
    	<a v-else href="{{contentUrl}}/download">{{ plan.name }}</a>
    </span>
    <span>Made {{ formattedTime }}</span>
</div>